ng-sidebar-container {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 100;
}

::ng-deep .ng-sidebar {
  background-color: #f4f4f4;
  width: 350px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 102;
  right: 0;
  top: 0;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

hr {
  margin: 0;
}

#closebtn {
  background-color: none;
  border: none;
  padding: 10px;
  outline: none;

  &:focus {
    outline: none;
  }
}
