<div class="footer">
  <div class="caller">
    <img src="../../../assets/logo.svg" />
  </div>
  <div class="action-button-group">
    <div class="mic-btn">
      <img src="../../../assets/mic-on.svg" />
    </div>
    <div class="camera-btn">
      <img src="../../../assets/camera-on.svg" />
    </div>
    <div class="end-call-btn">
      <img src="../../../assets/end-call.svg" />
    </div>
  </div>
  <div class="extra-btn">
    <button class="billing-btn" (click)="startBillingFunction()">
      Start Billing
    </button>
    <button class="full-screen">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-maximize"
      >
        <path
          d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
        ></path>
      </svg>
      Exit Full Screen
    </button>
  </div>
</div>
